<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LesteTI_Helloworld>
            <version>0.0.1</version>
        </LesteTI_Helloworld>
    </modules>

    <global>
        <blocks>
            <helloworld>
                <class>LesteTI_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <helpers>
            <helloworld>
                <class>LesteTI_Helloworld_Helper</class>
            </helloworld>
        </helpers>
        <models>
            <helloworld>
                <class>LesteTI_Helloworld_Model</class>
            </helloworld>
        </models>
    </global>

    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>LesteTI_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
    </frontend>
</config>
