<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <LesteTI_Helloworld>
            <version>0.0.2</version>
        </LesteTI_Helloworld>
    </modules>

    <global>
        <blocks>
            <helloworld>
                <class>LesteTI_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <helpers>
            <helloworld>
                <class>LesteTI_Helloworld_Helper</class>
            </helloworld>
        </helpers>
        <models>
            <helloworld>
                <class>LesteTI_Helloworld_Model</class>
                <resourceModel>helloworld_resource</resourceModel>
            </helloworld>
            <helloworld_resource>
                <class>LesteTI_Helloworld_Model_Resource</class>
                <entities>
                    <subscription>
                        <table>helloworld_subscription</table>
                    </subscription>
                </entities>
            </helloworld_resource>
            <catalog>
                <rewrite>
                    <product>LesteTI_Helloworld_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <helloworld_setup>
                <setup>
                    <module>LesteTI_Helloworld</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </helloworld_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <helloworld before="Mage_Adminhtml">LesteTI_Helloworld_Adminhtml</helloworld>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>LesteTI_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>

        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
</config>
